<div class="row">
    <div class="col-7">
        <div class="card">
            <div class="card-body">
                <div class="box-title m-b-0 h4">Proveedor</div>
                <p class="text-muted m-b-0 font-13"> Información de proveedor </p>
                <hr>
                <div>
                        <!--<form ngNativeValidate #f="ngForm" (ngSubmit)="updateSupplier(f.value)">-->
                        <form ngNativeValidate #f="ngForm">
                            <div class="form-group">
                                <label for="name">Nombre</label>
                                <input required type="text" [ngModel]="supplier.name" class="form-control" id="name" name="name" placeholder="Nombre de Proveedor">
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="type">País</label>
                                        <select name="country" [(ngModel)]="supplier.country" class="form-control">
                                            <option value="">Seleccione un país</option>
                                            <option *ngFor="let country of countries" [value]="country">{{country}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="type">Tipo</label>
                                        <!--<input type="text" [ngModel]="supplier.type" name="type" class="form-control" id="type" placeholder="Tipo de Proveedor">-->
                                        <select class="form-control" [(ngModel)]="supplier.type" name="type">
                                            <option value="">Seleccione el tipo de Proveedor</option>
                                            <option *ngFor="let type of types" [value]="type.id">{{type.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label for="type">Rubro</label>
                                <select name="businessArea" class="form-control" [(ngModel)]="supplier.businessArea">
                                    <option value="">Seleccione el rubro</option>
                                    <option *ngFor="let business of businessArea" [value]="business.id">{{business.name}}</option>
                                </select>
                            </div>
                            <button type="button" (click)="registerSupplier(f.value)" *ngIf="!supplier.name" mat-raised-button class="btn px-5 form-control scale-hover"><i class="fa fa-save"></i> Registrar</button>
                            <button type="button" (click)="updateSupplier(f.value)"  *ngIf="supplier.name" mat-raised-button class="btn px-5 form-control scale-hover"><i class="fa fa-save"></i> Actualizar</button>
                        </form>
                </div>
            </div>
        </div>
    </div>
        <div class="col-5">
            <div class="card">
                <div class="card-body">
                    <div class="box-title m-b-0 h4">Imagen</div>
                    <p class="text-muted m-b-0 font-13"> {{supplier.name}} </p>
                    <hr>
                    <div class="row d-flex justify-content-center">
                      <img *ngIf="!imageTemp" [src]="supplier.img" alt="" class="w200">
                      <img *ngIf="imageTemp" [src]="imageTemp" alt="" class="w200">
                      <input type="file" class="my-2" (change)="onFileChange($event)">
                      <!--<button type="button" [disabled]="!imageLoad" class="btn btn-primary btn-block waves-effect waves-light m-r-10"><i class="fa fa-save"></i> Actualizar Imagen</button>-->
                      <button (click)="updateImage()" mat-raised-button [disabled]="!imageLoad"  class="btn px-5 form-control scale-hover"><i class="fa fa-save"></i> Guardar Imagen</button>
                    </div>
                </div>
            </div>
        </div>
</div>