<div class="px-3 notRegistered">
    <button routerLink="/pages/business/supplier" mat-raised-button class="btn px-5 scale-hover"> Registrarse</button>
    <div class="bg-gray mt-4 d-flex justify-content-center align-items-center">
        <div>
            <p class="h5 row text-center my-5">
                Proveedor no registrado en la base de datos de HANSA
            </p>
            <p class="h6 row text-center my-4">
                ¿Qué debo cumplir para registrarme como proveedor HANSA?
            </p>
            <p class="row my-2">
                1) Debe haber participado en una cotizacion o subasta
            </p>
            <p class="row my-2">
                2) Ser proveedor HANSA
            </p>
        </div>
    </div>
</div>
