<div class="quotation">
   <!-- <form ngNativeValidate #f="ngForm" class="mx-2 mt-3">-->
  <div>
      <!--<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
                {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
              </button>-->
              <!--<mat-stepper [linear]="isLinear" #stepper>-->
              <mat-stepper [linear]="isLinear" #stepper>
                <!--<mat-step [stepControl]="firstFormGroup">-->
                  <mat-step>
                  <!--<form [formGroup]="firstFormGroup">-->
                  <form class="form-horizontal" (ngSubmit)="formResponse()">
            
                    <ng-template matStepLabel>Formulario de Preguntas</ng-template>

                    <div class="my-2 formulario">
                      <span class="h6 font-weight-bold"><i class="fa fa-comments-o"></i> Formulario de Preguntas</span>
                      <hr>
                          <div class="py-2 px-4 hover-simple" *ngIf="surveyGral">
                              <div class="row font-weight-bold px-3">
                                  {{surveyGral.name}}
                              </div>
                              <span class="txt-13">{{surveyGral.description}}</span>
                              <hr class="mb-1">
                              <div class="section mx-3" *ngFor="let section of surveyGral.sections">
                                  <div class="font-weight-normal">{{section.name}}</div>
                                  <span class="font-weight-normal fs13" *ngIf="section.description">{{section.description}}</span>
                                  <hr>
                                  <div class="querys mx-5">

                                    <div class="form-group row" *ngFor="let query of section.querys, let indice = index">
                                        
                                      <label for="" class="txt-14 col-sm-5 text-right control-label col-form-label">{{query.name}}
                                      <span class="text-danger" *ngIf="query.required">*</span> </label>
                                        <div class="col-sm-7" *ngIf="query.type == 3" >
                                          <input type="text" name="query_{{indice}}" [(ngModel)]="query.answer" class="form-control txt-14">
                                        </div>
                                        <div class="col-sm-7" *ngIf="query.type == 4">
                                          <textarea name="query_{{indice}}" [(ngModel)]="query.answer" id="" class="form-control txt-14" rows="3"></textarea>
                                        </div>
                                        <div class="col-sm-7" *ngIf="query.type == 5">
                                              <div class="form-check txt-14" *ngFor="let option of query.options, let indice = index">
                                                  <label class="custom-control custom-checkbox">
                                                    <input name="checkbox_{{indice}}" type="checkbox" class="custom-control-input" [(ngModel)] = "option.check" [checked]="option.check">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">{{option.name}}</span>
                                                  </label>
                                              </div>
                                        </div>
                                        <div class="col-sm-7" *ngIf="query.type == 6">
                                            <select class="custom-select col-12 txt-14" name="query_{{indice}}" id="inlineFormCustomSelect" [(ngModel)]="query.answer">
                                              <!--<option value="query.answer">Seleccione un valor</option>-->
                                              <option *ngFor="let option of query.options" [value]="option.name">{{option.name | titlecase}}</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-7" *ngIf="query.type == 7">
                                          <input type="date" class="form-control" name="query_{{indice}}" [(ngModel)]="query.answer" id="mdate">
                                        </div>

                                    </div>
                                    
                                  <!--</form>-->

                                  </div>

                              </div>
                              <div class="text-right">
                                <button type="submit" class="btn bg-cyan scale text-white form-control"><i class="fa fa-save"> <span *ngIf="cantAnswers == 0"> Guardar</span><span *ngIf="cantAnswers > 0"> Actualizar</span> </i></button>
                              </div>
                          </div>
                          <div *ngIf="!surveyGral" class="alert alert-warning txt-15" role="alert">
                            No existen preguntas
                          </div>
                    </div>
                    <div class="text-right">
                      <button type="button" mat-button (click)="checkRequiredQuerys(stepper)" class="scale">Siguiente</button>
                    </div>
                  </form>
                </mat-step>

                <!--<mat-step [stepControl]="secondFormGroup" label="Productos / Servicios">-->
                  <mat-step [completed]="isCompleted2" label="Productos / Servicios">
                  
                  <div class="my-2 productos">
                    <div class="row">
                        <div class="col-6">
                            <span class="h6 font-weight-bold"><i class="fa fa-shopping-cart"></i> Productos / Servicios</span>
                        </div>
                        <div class="col-6 d-flex justify-content-end">
                            <span class="fs13">Vigencia de la oferta en días </span><input [disabled]="products.length == 0" style="height:25px; border-radius:5px; width:50px;" class="ml-2" type="number" min="0">
                        </div>
                    </div>
                    <hr>
                    <div *ngIf="products.length == 0" class="alert alert-warning txt-15" role="alert">
                      No existen productos
                    </div>
                    <div class="py-1 px-4" *ngIf="products.length > 0">
                        <div class="">
                            <table mat-table [dataSource]="dataSource">
                          
                              <!-- Position Column -->
                              <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef class="text-center"> Nombre </th>
                                <td mat-cell *matCellDef="let element"> {{element.tradename | titlecase}} </td>
                              </ng-container>
                          
                              <!-- Name Column -->
                              <ng-container matColumnDef="unit">
                                <th mat-header-cell *matHeaderCellDef class="text-center"> Unidad </th>
                                <td mat-cell *matCellDef="let element" class="text-center"> {{element.unit}} </td>
                              </ng-container>
                          
                              <!-- Weight Column -->
                              <ng-container matColumnDef="amount">
                                <th mat-header-cell *matHeaderCellDef class="text-center"> Cantidad </th>
                                <td mat-cell *matCellDef="let element" class="text-center"> {{element.amount}} </td>
                              </ng-container>
                          
                              <!-- Symbol Column -->
                              <ng-container matColumnDef="unitPriceOffer">
                                <th mat-header-cell *matHeaderCellDef class="text-center"> Mi Precio </th>
                                <td mat-cell *matCellDef="let element" class="text-center"> 
                                    <input #input (change)="calculate(element, input.value)" type="number" class="form-control w100" name="unitprice" [value]="element.unitPriceOffer"> 
                                </td>
                              </ng-container>
    
                              <ng-container matColumnDef="subTotalOffer" >
                                <th mat-header-cell *matHeaderCellDef class="text-center"> Subtotal </th>
                                <td mat-cell *matCellDef="let element" class="text-center">{{element.subTotalOffer | number:'1.2-4'}}</td>
                              </ng-container>
    
                              <ng-container matColumnDef="edit" >
                                <th mat-header-cell *matHeaderCellDef class="text-center"> Más información </th>
                                <td mat-cell *matCellDef="let element" class="text-center">
                                    <button (click)="responseProduct(element)" [disabled]="!element.idAnswerProd" title="Responder" type="button" class="btn bg-cyan btn-circle text-white">
                                        <i class="fa fa-plus"></i> 
                                    </button>
                                 </td>
                              </ng-container>
                          
                              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                          
                            <mat-paginator [pageSizeOptions]="[5]"
                                           showFirstLastButtons 
                                           aria-label="Select page of periodic elements">
                            </mat-paginator>
                        </div>
                
                    </div>
                    <!--<div class="text-right my-2">
                        <button mat-raised-button><i class="fa fa-save"></i> Guardar cambios</button>
                    </div>-->
            </div>

                 <div class="text-right">
                  <button mat-button matStepperPrevious class="scale">Anterior</button>
                  <button mat-button matStepperNext class="scale">Siguiente</button>
                 </div>
                </mat-step>

                <mat-step [completed]="isCompleted3">
                  <ng-template matStepLabel> Documentos Solicitados</ng-template>

                  <div class="mx-3 my-2 documentos">
                    <div >
                        <span class="h6 font-weight-bold"><i class="fa fa-file-pdf-o"></i> Documentos solicitados</span>
                        <hr>
                    </div>
                    <div class="py-1">
                      <div *ngIf="documents.length == 0" class="alert alert-warning txt-15" role="alert">
                        No existen documentos
                      </div>
                            <!--<div class="row border-bottom">
                              <div class="col-6">
                                <p class="h6">Registro en Aduana</p>
                                <p class="text-muted txt-13">El presente documento es de caracter excluyente</p>
                                <p class="txt-13"><span class="font-weight-bold">Tipo: </span><span class="text-muted">Obligatorio</span> </p>
                                <label class="label label-success"><a href="#" class="text-white">Descargar Plantilla</a></label>
                              </div>
                              <div class="col-6 text-center">
                                  <label for="btnDoc" class="txt-13 pointer scale label label-info border py-2"><i class="fa fa-paperclip"></i> Agregar Documento</label>
                                  <input (change)="onDocChange($event)" type="file" id="btnDoc" style="display: none;">
                              </div>
                            </div>-->
                           <div *ngIf="documents.length > 0">
                            <table class="table table-hover">
                              <thead>
                                <tr>
                                  <th class="text-center">Documento Solicitado</th>
                                  <th class="text-center">Mis Documentos</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let document of documents, let indice=index">
                                  <td style="line-height: 10px;">                                
                                    <p class="h6">{{document.name | titlecase}}</p>
                                    <p class="text-muted txt-13">{{document.instruction}}</p>
                                    <p class="txt-13"><span class="font-weight-bold">Obligatorio: </span><span class="text-muted">{{document.required | boolean}}</span> </p>
                                    <div class="px-4">
                                      <label *ngIf="document.templateSanitized" class="label label-success scale"><a [href]="document.templateSanitized" class="text-white">Descargar Plantilla</a></label>
                                      <label *ngIf="!document.templateSanitized" class="label label-danger">Sin Plantilla</label>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="text-center">
                                      <label for="btnDoc_{{indice}}" class="txt-13 pointer scale label label-info border py-2"><i class="fa fa-paperclip"></i> Seleccionar Documento</label>
                                      <input (change)="onDocChange($event, document)" type="file" id="btnDoc_{{indice}}" style="display: none;">
                                      <div *ngIf="document.nameDoc">
                                        <span class="text-dark txt-13 text-center">{{document.nameDoc}}</span>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                                <!--<tr>
                                  <td style="line-height: 10px;">                                
                                    <p class="h6">Proforma</p>
                                    <p class="text-muted txt-13">El presente documento es de caracter excluyente</p>
                                    <p class="txt-13"><span class="font-weight-bold">Obligatorio: </span><span class="text-muted">NO</span> </p>
                                    <div class="px-4">
                                      <label class="label label-danger"><a href="#" class="text-white">Sin plantilla</a></label>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="text-center">
                                      <label for="btnDoc" class="txt-13 pointer scale label label-info border py-2"><i class="fa fa-paperclip"></i> Agregar Documento</label>
                                    <input (change)="onDocChange($event)" type="file" id="btnDoc" style="display: none;">
                                    </div>
                                  </td>
                                </tr>-->
                              </tbody>
                            </table>
                           </div>
                    </div>  
                  </div>

                  <div class="d-flex justify-content-end">
                    <button mat-button matStepperPrevious class="scale">Anterior</button>
                    <button (click)="sendAnswer()" type="button" class="scale btn btn-cyan waves-effect waves-light m-r-10"><i class="fa fa-save"></i> Enviar respuesta al comprador</button>
                  </div>
                    <!--<button mat-button (click)="stepper.reset()">Reset</button>-->
            
                </mat-step>
              </mat-stepper>
            </div>    
        </div>
        <!--<div>
            <div class="mx-3 my-2 formulario">
                <span class="h6 font-weight-bold"><i class="fa fa-comments-o"></i> Formulario de Preguntas</span>
                <hr>
                    <div class="py-1 px-4">
                        <div class="row font-weight-bold px-3">
                            {{surveyGral.name}}
                        </div>
                        <span class="fs13">{{surveyGral.description}}</span>
                        <hr class="mb-1">
                        <div class="section mx-3" *ngFor="let section of surveyGral.sections">
                            <div class="font-weight-normal">{{section.name}}</div>
                            <span class="font-weight-normal fs13" *ngIf="section.description">{{section.description}}</span>
                            <hr>
                            <div class="querys" style="height:100px;">
        
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mx-3 my-2 productos">
                        <div class="row">
                            <div class="col-6">
                                <span class="h6 font-weight-bold"><i class="fa fa-shopping-cart"></i> Productos / Servicios</span>
                            </div>
                            <div class="col-6 d-flex justify-content-end">
                                <span class="fs13">Vigencia de la oferta en días </span><input style="height:25px; border-radius:5px; width:50px;" class="ml-2" type="number" min="0">
                            </div>
                        </div>
                        <hr>
                        <div class="py-1 px-4">
                            <div class="">
                                <table mat-table [dataSource]="dataSource">
                              
          
                                  <ng-container matColumnDef="name">
                                    <th mat-header-cell *matHeaderCellDef class="text-center"> Nombre </th>
                                    <td mat-cell *matCellDef="let element"> {{element.tradename | titlecase}} </td>
                                  </ng-container>
                              
                                  <ng-container matColumnDef="unit">
                                    <th mat-header-cell *matHeaderCellDef class="text-center"> Unidad </th>
                                    <td mat-cell *matCellDef="let element" class="text-center"> {{element.unit}} </td>
                                  </ng-container>
                              
                                 
                                  <ng-container matColumnDef="amount">
                                    <th mat-header-cell *matHeaderCellDef class="text-center"> Cantidad </th>
                                    <td mat-cell *matCellDef="let element" class="text-center"> {{element.amount}} </td>
                                  </ng-container>
                              
                                  
                                  <ng-container matColumnDef="unitPriceOffer">
                                    <th mat-header-cell *matHeaderCellDef class="text-center"> Mi Precio </th>
                                    <td mat-cell *matCellDef="let element" class="text-center"> 
                                        <input #input (change)="calculate(element, input.value)" type="number" class="form-control w100" name="unitprice" [value]="element.unitPriceOffer"> 
                                    </td>
                                  </ng-container>
        
                                  <ng-container matColumnDef="subTotalOffer" >
                                    <th mat-header-cell *matHeaderCellDef class="text-center"> Subtotal </th>
                                    <td mat-cell *matCellDef="let element" class="text-center">{{element.subTotalOffer | number:'1.2-4'}}</td>
                                  </ng-container>
        
                                  <ng-container matColumnDef="edit" >
                                    <th mat-header-cell *matHeaderCellDef class="text-center"> Más información </th>
                                    <td mat-cell *matCellDef="let element" class="text-center">
                                        <button (click)="responseProduct(element)" [disabled]="!element.idAnswerProd" title="Responder" type="button" class="btn bg-cyan btn-circle text-white">
                                            <i class="fa fa-plus"></i> 
                                        </button>
                                     </td>
                                  </ng-container>
                              
                                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                              
                                <mat-paginator [pageSizeOptions]="[5]"
                                               showFirstLastButtons 
                                               aria-label="Select page of periodic elements">
                                </mat-paginator>
                            </div>
                    
                        </div>-->
                        <!--<div class="text-right my-2">
                            <button mat-raised-button><i class="fa fa-save"></i> Guardar cambios</button>
                        </div>-->
                <!--</div>
                <div class="mx-3 my-2 documentos">
                        <div >
                            <span class="h6 font-weight-bold"><i class="fa fa-file-pdf-o"></i> Documentos solicitados</span>
                            <hr>
                        </div>
                        <div class="row">
                            <div class="py-1 px-4">
                                Lista de documentos
                            </div>
                        </div>  
                </div>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-cyan waves-effect waves-light m-r-10">Enviar respuesta al comprador</button>
                </div>
        </div>
    </form>
</div>  -->
