<div class="animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                 <div class="dw-user-box text-center">
                     <div>
                        <div class="u-img">
                            <img [src]="contact.img" alt="user" class="w100">
                        </div>
                        <div class="u-text">
                            <h4>{{contact.first_name}} {{contact.last_name}}</h4>
                            <p class="text-muted text-center">{{contact.email}}</p>
                        </div>
                     </div>
                </div>

                <div class="d-flex justify-content-center">
                    <div>
                        <mat-form-field appearance="fill" style="width:100%;">
                            <mat-label>Escriba su contraseña actual</mat-label>
                            <input required matInput name="password" [(ngModel)]="password" [type]="hide ? 'password' : 'text'" name="pass">
                            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <button type="button" mat-dialog-close class='btn btn-info form-control text-white scale'>Cancelar</button>
                    </div>
                    <div class="col-6">
                        <button [disabled]="!password" type="button" mat-dialog-close (click)="confirmPassword()" class='btn btn-primary form-control text-white scale'>Siguiente</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>