.info{
    color:slategrey;
    cursor:pointer;
}
.info:focus{
    color:skyblue;
}
.aside-info{
    min-height:560px;
    background-color:#00abf9;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color:#fff;
    font-size:17px;
    line-height: 20px;
}

.aside-info input{
    background-color: #79c5e7;
    border:none;
}

.aside-info textarea{
    background-color: #79c5e7;
    border:none;
}


.aside-info textarea:focus{
    background-color: #79c5e7;
}

