<div class="fixed-top">
    <app-header></app-header>
</div>
<div class="row pages-content">
    <mat-sidenav-container>
        <mat-sidenav #sidenav="matSidenav">
            <button mat-button class="menu-button my-2" routerLink="/principal/profile">
                <mat-icon>supervised_user_circle</mat-icon>
                <span>Información general</span>
            </button>
            <button mat-button class="menu-button my-2" routerLink="/principal">
                <mat-icon>business_center</mat-icon>
                <span>Hansa business</span>
            </button>
            <button mat-button class="menu-button my-2" routerLink="/principal/pays">
                <mat-icon>payment</mat-icon>
                <span>Pago y facturación</span>
            </button>
            <button mat-button class="menu-button my-2" routerLink="/principal/password">
                <mat-icon>security</mat-icon>
                <span>Contraseña</span>
            </button>
            <button mat-button class="menu-button my-2" routerLink="/principal">
                <mat-icon>settings</mat-icon>
                <span>Configuración y privacidad</span>
            </button>
            
            <!--<img class="avatar mat-elevation-z8" src="https://mpng.subpng.com/20180411/rzw/kisspng-user-profile-computer-icons-user-interface-mystique-5aceb0245aa097.2885333015234949483712.jpg" />
    
            <h4 class="name">{{user.username}}</h4>
            <p class="designation">{{user.email}}</p>
    
            <mat-divider></mat-divider>
    
            <button mat-button class="menu-button" routerLink="/principal">
                <mat-icon>home</mat-icon>
                <span>Principal</span>
            </button>
            <button mat-button class="menu-button" routerLink="/principal/quotes">
                <mat-icon>shop</mat-icon>
                <span>Cotizaciones</span>
            </button>
            <button mat-button routerLink="/principal/profile" class="menu-button">
                <mat-icon>person</mat-icon>
                <span>Perfil</span>
            </button>
            <button mat-button  routerLink="/principal/ranking" class="menu-button">
                <mat-icon>star</mat-icon>
                <span>Ranking</span>
            </button>
            <button mat-button class="menu-button" routerLink="/principal/pays">
                <mat-icon>attach_money</mat-icon>
                <span>Pagos</span>
            </button>
    
            <button mat-button class="menu-button" routerLink="/principal/supplier">
                <mat-icon>shopping_cart</mat-icon>
                <span>Proveedor</span>
            </button>
            
            <mat-divider></mat-divider>
    
            <button mat-button class="menu-button" (click)="openDialog()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Salir</span>
            </button>-->
        
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="content mat-elevation-z8">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>