*{
  box-sizing: border-box;
}
.profile .info p{
  margin:0;
}

.profile hr{
  margin:3px;
  border: none;
  height: 3px; /* Set the hr color */ 
  color: #333; /* old IE */ 
  background-color: #333; /* Modern Browsers */
}

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}