<div class="animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                 <div class="dw-user-box text-center">
                     <div>
                        <div class="u-img">
                            <img [src]="contact.img" alt="user" class="w100">
                        </div>
                        <div class="u-text">
                            <h4>{{contact.first_name}} {{contact.last_name}}</h4>
                            <p class="text-muted text-center">{{contact.email}}</p>
                        </div>
                     </div>
                </div>

                <form ngNativeValidate [formGroup]="formContact" (onSubmit)="sendPassword()">

                <div class="d-flex justify-content-center">
                    <div>

                        <mat-form-field appearance="fill" style="width:100%;">
                            <mat-label>Escriba su nueva Contraseña</mat-label>
                            <input required matInput  formControlName="password"  [type]="hide ? 'password' : 'text'" name="pass">
                            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>

                        <mat-form-field appearance="fill" style="width:100%;">
                            <mat-label>Repita su contraseña</mat-label>
                            <input required matInput  formControlName="password2"  [type]="hide2 ? 'password' : 'text'" name="pass2">
                            <button type="button" mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                              <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>

                        <div class="form-group" *ngIf="formContact.errors?.sonIguales && !formContact.pristine">
                            <mat-hint class="text-danger txt-13">
                                Las contraseñas deben ser iguales
                            </mat-hint>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <button type="button" mat-dialog-close class='btn btn-info form-control text-white scale'> Cancelar</button>
                    </div>
                    <div class="col-6">
                        <button type="submit" class='btn btn-primary form-control text-white scale'>Actualizar</button>
                    </div>
                </div>

                </form>

            </div>
        </div>
    </div>
</div>