*{
    box-sizing: border-box;
  }
  
  .pays hr{
    margin:3px;
    border: none;
    height: 3px; /* Set the hr color */ 
    color: #333; /* old IE */ 
    background-color: #333; /* Modern Browsers */
  }

  .bg-gray{
    background-color:#EDF2EA;
    color:#B4B8B2;
  }
  .none{
      min-height:180px;
      margin:15px 60px;
  }