<div class="p-3">
    <div class="animated fadeIn">
        <div class="row">
            <span class="text-primary h6">Cotización Online - Subasta Inversa Cotizacion 567</span>  <span class="txt-13 text-muted">  Activo</span>
        </div>
        <div class="row mt-3">
            <div class="col-8">
                <img src="../../../../assets/images/subasta1.png" class="img img-fluid">
            </div>
            <div class="col-4">
                <div class="px-2">
                    <div class="row h6 font-weight-bold px-3" style="color:#02497d;">
                        INICIO SUBASTA
                    </div>
                    <div class="row px-3" style="min-height: 100px;">
                        <div class="col-6 d-flex align-items-center justify-content-center" style="background-color: #02497d;">
                            <div style="position: relative;">
                                <div class="text-center"><span class="h6 text-white">Noviembre</span> </div>
                                <div class="text-center"><span class="h4 text-white"><i class="fa fa-calendar-o fa-2x"></i> <span style="position: absolute; left:30%; top:57%;">18</span> </span> </div>
                            </div>
                            
                        </div>
                        <div class="col-6 d-flex align-items-center justify-content-center" style="background-color: #6ab6ec;">
                            <div>
                                <div class="text-center"><span class="h6 text-white">Año</span> </div>
                                <div><span class="h4 text-white text-center">2021</span> </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button class="form-control font-weight-bold h5 text-center pointer-auto" mat-raised-button>10:30 am a 12:30 pm</button>
                    </div>
                </div>
                <div class="px-2 mt-5">
                    <div class="row h6 font-weight-bold px-3" style="color:#02497d;">
                        CUENTA REGRESIVA
                    </div>
                    <div>
                        <button class="form-control font-weight-bold h5 text-center pointer-auto" mat-raised-button>2 dias 6 horas 20 minutos</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
