/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.pointer{
    cursor:pointer;
}
.border-bottom-3{
    border-bottom:3px solid #000;
}
.txt-13{
    font-size: 13px;
}

.txt-15{
    font-size: 15px;
}

.btn-cyan{
    background-color: aqua;
    color:#fff;
}

/*widths*/

.w100{
    width: 100px;
}

.w200{
    width:200px;
}

.w400{
    width:400px;
}

.w600{
    width:600px;
}


hr{
    margin-top:15px;
    margin-bottom: 20px;
    border: none;
    height: 3px; /* Set the hr color */ 
    color: #CCCCCC; /* old IE */ 
    background-color: #CCCCCC; /* Modern Browsers */
}

.d-flex{
    display: flex;
}

.justify-content-end{
    justify-content: end;
}

.bg-primary-classic{
    background-color:#004a9f;
}

.bg-cyan{
    background-color:#0dcaf0;
}

.scale:hover{
    transform: scale(1.1);
}

.txt-12{
    font-size: 12px;
}

.txt-14{
    font-size: 14px;
}

.txt-15{
    font-size: 15px;
}

.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }

  .hover-simple:hover{
      background-color: #f1efef;
  }

  

  .pointer-auto:hover{
    cursor:auto;
  }