<div class="responder">
    <form ngNativeValidate #f="ngForm" class="mx-2 mt-3">
        <div class="mx-3 my-2 formulario">
        <span class="h5 font-weight-bold"><i class="fa fa-comments-o"></i> Formulario de Preguntas</span>
        <hr>
            <div class="py-1 px-4">
                <div class="row font-weight-bold px-3">
                    {{surveyGral.name}}
                </div>
                <span class="fs13">{{surveyGral.description}}</span>
                <hr class="mb-1">
                <div class="section mx-3" *ngFor="let section of surveyGral.sections">
                    <div class="font-weight-normal">{{section.name}}</div>
                    <span class="font-weight-normal fs13" *ngIf="section.description">{{section.description}}</span>
                    <hr>
                    <div class="querys" style="height:100px;">

                    </div>
                </div>
            </div>
        </div>
            <div class="mx-3 my-2 productos">
                <div class="row">
                    <div class="col-6">
                        <span class="h6"><i class="fa fa-shopping-cart"></i> Productos / Servicios</span>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <span class="fs13">Vigencia de la oferta en días </span><input style="height:25px; border-radius:5px; width:50px;" class="ml-2" type="number">
                    </div>
                </div>
                <hr>
                <div class="py-1 px-4">
                    <table>
    
                    </table>
                    
                    <button mat-raised-button><i class="fa fa-save"></i> Guardar cambios</button>
                    
                </div>
            </div>
            <div class="mx-3 my-2 documentos">
                <div >
                    <span class="h6"><i class="fa fa-file-pdf-o"></i> Documentos solicitados</span>
                    <hr>
                </div>
                <div class="row">
                    <div class="py-1 px-4">
                        Lista de documentos
                    </div>
                </div>  
            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-cyan waves-effect waves-light m-r-10">Enviar respuesta al comprador</button>
            </div>
</form>
</div>  